<h1>About</h1>
<p>
  RhinoLog is a running log built for speed and simplicity. 
  <br>
  It was built by Chip Jackson, a student-athlete at Western Washington University.
  <br>
  If you have any feedback, Chip would love to hear from you! Contact him at chipjacks@gmail.com.
  <br>
</p>
  <h4>
  	Thanks for using RhinoLog!
  </h4>