<h1>
	SMS Logging
</h1>
<p class="lead">
	Text runs to: (208)35RHINO
</p>
<p>
	 Using the phone number you have registered on RhinoLog, you can text run info directly to your online log. Runs will be visible the next time you sign into RhinoLog.
</p>

<h3>
	Acceptable formats:
</h3>

<p>
	Place run info in comma-seperated fields, with a label in each field. At the minimum, the text must contain information for two of time, distance, and pace. Any field that is not included in the text message will be either calculated or filled with a default value.
</p>

<h4>
	Example texts:
</h4>
<ul>
	<li>Date 9/25, distance 5, time 35m, feel good, effort easy, notes I really did it to it today</li>
	<li>Distance 5, pace 7m30s</li>
	<li>Date yesterday, distance 5, pace 7m30s</li>
</ul>
