<h1>
	SMS Logging
</h1>
<p class="lead">
	Text runs to: (208)35RHINO
</p>
<p>
	 Using the phone number you have registered on RhinoLog, you can text run info directly to your online log. Runs will be visible the next time you sign into RhinoLog.
</p>

<h3>
	Acceptable formats:
</h3>

<p>
	Place run info in comma-seperated fields, with a label in each field. If you only enter two of distance, pace, and time, the third will be calculated automatically. If you don't enter a date, the date will default to today's date. Otherwise, any field that is not included in the text will be left blank in the logged run. 
</p>

<h4>
	Example texts:
</h4>
<ul>
	<li>Date 9/25, distance 5, time 35m, feel good, effort easy, notes I really did it to it today</li>
	<li>Distance 5, pace 7m30s</li>
	<li>Date yesterday, distance 5, pace 7m30s</li>
</ul>
