<tr>
  <td>
    <%= run_feed.date %>
  </td>
  <td>
    <%= best_in_place run_feed, :distance, :inner_class => 'test' %>
  </td>
  <td>
    <%= best_in_place run_feed, :mins %>
  </td>
  <td>
    <%= best_in_place run_feed, :pace %>
  </td>
</tr>