
<div class="toppad">
	<div class="pull-right fixwidth well well-small">
		<%= simple_form_for(resource, :as => resource_name, 
			:url => session_path(resource_name),
			:html => { :class => 'form-vertical miniform' }) do |f| %>
			<div class="form-inputs">
				<div>
					<input id="user_email" class="string email optional" type="email" value="" size="50" name="user[email]" autofocus="autofocus" placeholder="Email">
				</div>
				<div>
					<input id="user_password" type="password" size="50" name="user[password]" placeholder="Password">
				</div>
				<div id="signin">
					Remember me
					<input id="rem-me" type="checkbox" value="0" name="user[remember_me]">
					<input class="btn btn-large btn-primary pull-right" type="submit" value="Sign in" name="commit">
					<br>
					<%= link_to "Forgot password?", new_password_path(resource_name), class: 'minitext' %>
				</div>
			</div>
		<% end %>
	</div>
</div>
<div class="row">
	<div class="span8 offset2">
		<h2>
			<%= image_tag "title_black.png" %>
			<div class="megadiv"></div>
			Quick and simple run mileage logging
			<br>
			<span class="lead">
				online or via SMS text
			</span>
			<div class="minidiv"></div>
			<a class="btn try-it"> 
				<span class="lead">
					Try it out
				</span>
			</a>
			<a class="btn btn-primary" href="/users/sign_up"> 
				<span class="lead">
					Sign Up
				</span>
			</a>
		</h2>
	</div>
</div>
<div class="bottompad"></div>

<%= render partial: "shared/run_modal_demo" %>