<div class="hero-unit">
    <h1><%= image_tag "title.png" %></h1>
    <p>
    	Welcome to <%= base_title %>. Open an account to get started.
    </p>
    <div class="btn-group">
    	<%= link_to "Sign up", new_user_registration_path, class: "btn btn-large btn-primary" %>
    	<%= link_to "Sign in", new_user_session_path, class: "btn btn-large" %>
    </div>
</div>