<div class="hero-unit">
	<div class="row">
		<div class="span10">
    	<%= image_tag "bigtitle.png"%>
    </div>
  </div>
  <div class="row">
    <div class="span10">
	    <%= link_to "SIGN UP", new_user_registration_path, class: "btn btn-large btn-primary btn-block btn-inverse", id: "signupbtn" %>
	  </div>
	</div>
	<h2 id="subtitle">
		Fast and simple running mileage logging.
	</h2>
</div>

<div class="container">
	<div class="row">
		<div class="span4 offset1">
			<h1>
				Features:
			</h1>
		</div>
	</div>
	<div class="row">
		<div class="span10 offset1">
			<hr>
		</div>
	</div>
	<div class="row">
		<div class="span4 offset1">
			<h3>
				Log runs via SMS messages
			</h3>
		</div>
		<div class="span4 offset1">
			<%= image_tag "celltext.png"%>
		</div>
	</div>
	<div class="row">
		<div class="span10 offset1">
			<hr>
		</div>
	</div>
	<div class="row">
		<div class="span4 offset1">
			<%= image_tag "weekview.png"%>
		</div>
		<div class="span4 offset1">
			<h3>
				Quickly log and view weeks and months training online
			</h3>
		</div>
	</div>
	<div class="row">
		<div class="span10 offset1">
			<hr>
		</div>
	</div>
	<div class="row">
		<div class="span4 offset1">
			<h3>
				Easily visualize run effort and feel data using RhinoGrid
			</h3>
		</div>
		<div class="span4 offset1">
			<h3>
				RhinoGrid pic
			</h3>
		</div>
	</div>
</div>