
  <% if @runs.empty? %>
    <tr>
      <td colspan="6">No runs this week</td>
    </tr>
  <% else %>
  <tbody>
    <%= render :partial => "shared/run_feed", :collection => @runs %>
  </tbody>
  <% end %>