$rhinoYellow: #ffc40d;
$rhinoTungsten: #333333;

$navbarBackground: 					$rhinoYellow;
$navbarBackgroundHighlight: $rhinoYellow;
$navbarText: 								$rhinoTungsten;
$navbarLinkColor:           $rhinoTungsten;

@import "bootstrap";
@import "bootstrap-responsive";

/* universal */

html {
	overflow-y: scroll;
}

body {
	// padding-top: 60px;
	// padding-right: 5%;
	// padding-left: 5%;
}

section {
	overflow: auto;
}

textarea {
	resize: vertical;
}

.center {
	text-align: center;
	vertical-align: middle;
	h1	{
		margin-bottom: 10px;
	}
}

.vert-adjust {
	margin-top: 8px;
 }

.float-right {
	float: right;
}

/* forms */

.rundata {
	width: 50px;
	height: 12px;
	margin-bottom: 0px;
}

.newrun {
	width: 50%;
}

.table {
	table-layout: fixed;
	th, td {
		line-height: 25px;
	}
}

.purr {
  position: fixed;
  top: 30px;
  right: 100px;
  width: 250px;
  padding: 20px;
  background-color: #FCC;
  border: solid 2px #666;
  &:first-letter { text-transform: uppercase };
}

.yellow {
	background-color: $rhinoYellow;
	background-repeat: repeat-x;
}

#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors {
  @extend .control-group;
  @extend .error;
  display: inline;
}

/* Navbar */

.nav-view-text {
	font-weight: bold;
	font-size: 125%;
}

.nav-account-text {
	font-weight: bold;
}

.navbar .brand {
	padding: 0 0 0 0;
	margin-top: 3px;
	width: 40%;
	margin-left: 0.5%;
}

// .navbar .btn, .navbar .btn-group {
//     margin-bottom: 5px;
// }

// .btn-navbar {
//     background-color: $rhinoTungsten;
//     background-image: -moz-linear-gradient(center top , $rhinoTungsten, $rhinoTungsten);
//     border-style: none;
// }

// .btn-navbar:hover, .btn-navbar:active, .btn-navbar.active {
// 	background-color: $rhinoTungsten;
// }

// .navbar .nav .active > a, .navbar .nav .active > a:hover {
// 	background-color: transparent;
// }

.navbar .nav .dropdown-toggle .caret {
	opacity: 1;
	border-top-color: black;
}

/* Text */

#new-run-text {
	font-weight: bold;
	margin-right: 10px;
	vertical-align: middle;
}

#run-create-btn {

}
