@import "bootstrap";

/* universal */

html {
	overflow-y: scroll;
}

body {
	padding-top: 60px;
}

section {
	overflow: auto;
}

textarea {
	resize: vertical;
}

.center {
	text-align: center;
	h1	{
		margin-bottom: 10px;
	}
}

/* forms */

.test {
	width: 50px;
	height: 15px;
	margin-bottom: 0px;
}

.table {
	table-layout: fixed;
}

