@import "bootstrap";

/* universal */

html {
	overflow-y: scroll;
}

body {
	padding-top: 15px;
	padding-right: 5%;
	padding-left: 5%;
}

section {
	overflow: auto;
}

textarea {
	resize: vertical;
}

.center {
	text-align: center;
	h1	{
		margin-bottom: 10px;
	}
}

/* forms */

.rundata {
	width: 30px;
	height: 12px;
	margin-bottom: 0px;
}

.newrun {
	width: 100px;
}

.table {
	table-layout: fixed;
	th, td {
		line-height: 25px;
	}
}

