$gridRed: #FF3030;
$gridYellow: #FFF68F;
$gridGreen: #00ff66;
$rhinoTungsten: #333333;

/* Run from errors */

.error-bullets {
  padding-left: 14px;
}

/* Run summary */
.not-too-wide {
  max-width: 150px;
}

.week_summary {
  display: block;
  color: inherit;
}

.week_summary:hover {
  background-color: whitesmoke;
  cursor: pointer;
  cursor: hand;
  text-decoration: none;
  color: inherit;
}

.shiftup {
  margin-bottom: 10px;
}

/* Run form */

.modal-body {
  text-align: center;
}

#new_run {
  margin-bottom: 0px;
}

#pace_mins {
  width: 70px;
}

#pace_mins {
  text-align: right;
}

#pace_secs, #time_secs {
  width: 70px;
}

.big_colon {
  font-size: 60px;
  margin-right: -8px;
  margin-left: -8px;
}

.runform_block > .runform_input {
  height: 80px;
  width: 120px;
  font-size: 60px;
  margin: 0px;
  margin-bottom: 20px;
}

#run_notes_field {
  height: 80px;
  width: 237px;
  resize: none;
  vertical-align: baseline;
}

.runform_block > .btn-group {
  width: 120px;
}

.runform_block {
  display: inline-block;
  vertical-align: top;
  margin-bottom: 0px;
  text-align: center;
}

.runform_block.center {
  padding-right: 20px;
  padding-left: 20px;
}

.btn-group > .btn-red.active {
  background-color: hsl(0, 100%, 43%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ff6b6b", endColorstr="#db0000");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#ff6b6b), to(#db0000));
  background-image: -moz-linear-gradient(top, #ff6b6b, #db0000);
  background-image: -ms-linear-gradient(top, #ff6b6b, #db0000);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ff6b6b), color-stop(100%, #db0000));
  background-image: -webkit-linear-gradient(top, #ff6b6b, #db0000);
  background-image: -o-linear-gradient(top, #ff6b6b, #db0000);
  background-image: linear-gradient(#ff6b6b, #db0000);
  border-color: #db0000 #db0000 hsl(0, 100%, 36%);
  color: #333;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.46);
  -webkit-font-smoothing: antialiased;
}

.btn-group > .btn-yellow.active {
  background-color: hsl(59, 100%, 47%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#fffd93", endColorstr="#efeb00");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#fffd93), to(#efeb00));
  background-image: -moz-linear-gradient(top, #fffd93, #efeb00);
  background-image: -ms-linear-gradient(top, #fffd93, #efeb00);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fffd93), color-stop(100%, #efeb00));
  background-image: -webkit-linear-gradient(top, #fffd93, #efeb00);
  background-image: -o-linear-gradient(top, #fffd93, #efeb00);
  background-image: linear-gradient(#fffd93, #efeb00);
  border-color: #efeb00 #efeb00 hsl(59, 100%, 39%);
  color: #333;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.52);
  -webkit-font-smoothing: antialiased;
}

.btn-group > .btn-green.active {
  background-color: hsl(102, 100%, 47%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#a5ff7f", endColorstr="#47ef00");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#a5ff7f), to(#47ef00));
  background-image: -moz-linear-gradient(top, #a5ff7f, #47ef00);
  background-image: -ms-linear-gradient(top, #a5ff7f, #47ef00);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #a5ff7f), color-stop(100%, #47ef00));
  background-image: -webkit-linear-gradient(top, #a5ff7f, #47ef00);
  background-image: -o-linear-gradient(top, #a5ff7f, #47ef00);
  background-image: linear-gradient(#a5ff7f, #47ef00);
  border-color: #47ef00 #47ef00 hsl(102, 100%, 40%);
  color: #333 !important;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.46);
  -webkit-font-smoothing: antialiased;
}

/* Run week table */

.table .no-side-pad {
  padding-left: 0px;
  padding-right: 0px;
}

.notes-disp {
  display: inline;
  margin-bottom: 0px;
}

#run_notes {
  margin-right: 5px;
  resize: none;
  width: 95%; 
}

.runicon {
  display: inline;
  font-size: 16px;
  color: black;
  margin-right: 3px;
  margin-left: 3px;
  margin-top: 3px;
  line-height: 20px;
}

.runicon:hover {
  font-size: 20px;
  margin-left: 2px;
  margin-right: 1px;
  text-decoration: none;
  cursor: hand;
  cursor: pointer;
  color: black;
}


.table .leftend {
  padding-left: 0px;
}

.leftbox {
  width: 10px;
  height: 100%;
  display: inline-block;
}

.red {
  background-color: $gridRed !important;
}

.yellow {
  background-color: $gridYellow !important;
}

.green {
  background-color: $gridGreen !important;
}

.no-bot-marg {
  margin-bottom: 0px;
}

.align-right {
  text-align: right;
}

//Run Calendar

.days {
  width: 86%;
  display: inline-block;
  min-width: 495px;
}

#runs .totalscolumn ul {
  margin-top: 30%;
}

.totalscolumn {
  width: 13%;
  display: inline-block;
}

#runs .row {
  margin-left: 0px;
  min-width: 575px;
}

#runs .calendar {
  border-collapse: collapse;
  width: 100%;

  td, th {

    font-size: 14px;
    padding: 6px;
    border: 1px solid #999;
  }

  th {
    background: whiteSmoke;
    color: #666;
    text-align: center;
    width: 12.5%; //14.2857142857143%;
  }

  td {
    background: #FFF;
    color: #777;
    height: 80px;
    vertical-align: top;
    font-size: 16px;
  }

  .notmonth, .notmonth a { color: #CCC; }
  .today { background-color: #D7F2FF; }
}

#runs #month {
  margin: 0;
  padding-bottom: 10px;
  text-align: center;
  font-size: 22px;
  a {
    text-decoration: none;
    padding: 0 10px;
  }
}

#runs ul {
  font-size: 40px;
  padding-left: 0px;
  text-align: center;
  margin-left: 0px;
  margin-top: 10%;
}

// RhinoGrid Feel/Effort Grid

#gridBox {
  width: 125px;
  height: 103px;
  position:absolute;
}

#redsquare {
  width: 110px;
  height: 88px;
  background: $gridRed;
  position:absolute;
  z-index:-1;
  -moz-border-radius: 5px;
  border-radius: 5px;
  left: 15px;
}

#leftyellowsquare {
  top: 26px;
  width: 20px;
  height: 26px;
  background: $gridYellow;
  position: absolute;
  z-index:0;
}

#leftgreensquare {
  top: 52px;
  width: 44px;
  height: 26px;
  background: $gridGreen;
  position: absolute;
  z-index:0;
  -moz-border-radius: 5px;
  border-bottom-left-radius: 5px;
}

#bottomgreensquare {
  top: 52px;
  left: 10px;
  width: 34px;
  height: 36px;
  background: $gridGreen;
  position: absolute;
  z-index:0;
  -moz-border-radius: 5px;
  border-bottom-left-radius: 5px;
}

#bottomyellowsquare {
  top: 52px;
  left: 44px;
  width: 33px;
  height: 36px;
  background: $gridYellow;
  position: absolute;
  z-index:0;
}

#bottomwhitesquare {
  top: 52px;
  width: 33px;
  height: 36px;
  background: white;
  position: absolute;
  z-index:-1;
}

#gridfore {
  left: 25px;
  margin-bottom: 20px;
  margin-right: 20px;
  width: 100px;
  height: 103px;
  display: inline-block;
}

#effortText {
  position: absolute;
  top: 84px;
  left: 32px;
  font-weight: bold;
}

#feelText {
  writing-mode:tb-rl;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -o-transform: rotate(270deg);
  white-space:nowrap;
  display:block;
  position:absolute;
  bottom:46px;
  width:20px;
  height:20px;
  font-weight:bold;
}

.gridButton {
  background-color: white;
  background-image: none;
  background-image: none;
  background-image: none;
  background-image: none;
  background-image: none;
}

.btn-group#gridfore > .gridCornerButton {
  webkit-border-top-left-radius: 0px;
  -moz-border-radius-topleft: 0px;
  border-top-left-radius: 0px;
  -webkit-border-bottom-left-radius: 0px;
  -moz-border-radius-bottomleft: 0px;
  border-bottom-left-radius: 0px;
  webkit-border-top-right-radius: 0px;
  -moz-border-radius-topright: 0px;
  border-top-right-radius: 0px;
  -webkit-border-bottom-right-radius: 0px;
  -moz-border-radius-bottomright: 0px;
  border-bottom-right-radius: 0px;
}

.gridInner {
  width: 130px;
  height: 122px;
  padding: 0 0 0 0;
}