$gridRed: #FF3030;
$gridYellow: #FFF68F;
$gridGreen: #00ff66;
$rhinoTungsten: #333333;

/* Run week table */

.error-bullets {
  padding-left: 14px;
}

/* Run week table */

.table .no-side-pad {
  padding-left: 0px;
  padding-right: 0px;
}

.comment-disp {
  display: inline;
  margin-bottom: 0px;
}

#run_comment {
  margin-right: 5px;
  resize: none;
  width: 95%; 
}

#deleteicon {
  display: inline;
}

.table .leftend {
  padding-left: 0px;
}

.leftbox {
  width: 10px;
  height: 100%;
  display: inline-block;
}

.red {
  background-color: $gridRed;
}

.yellow {
  background-color: $gridYellow;
}

.green {
  background-color: $gridGreen;
}


//Run Calendar

.days {
  width: 86%;
  display: inline-block;
  min-width: 495px;
}

#runs .totalscolumn ul {
  margin-top: 30%;
}

.totalscolumn {
  width: 13%;
  display: inline-block;
}

#runs .row {
  margin-left: 0px;
  min-width: 575px;
}

#runs .calendar {
  border-collapse: collapse;
  width: 100%;

  td, th {

    font-size: 14px;
    padding: 6px;
    border: 1px solid #999;
  }

  th {
    background: whiteSmoke;
    color: #666;
    text-align: center;
    width: 12.5%; //14.2857142857143%;
  }

  td {
    background: #FFF;
    color: #777;
    height: 80px;
    vertical-align: top;
    font-size: 16px;
  }

  .notmonth, .notmonth a { color: #CCC; }
  .today { background-color: #D7F2FF; }
}

#runs #month {
  margin: 0;
  padding-bottom: 10px;
  text-align: center;
  font-size: 22px;
  a {
    text-decoration: none;
    padding: 0 10px;
  }
}

#runs ul {
  font-size: 40px;
  padding-left: 0px;
  text-align: center;
  margin-left: 0px;
  margin-top: 10%;
}

// RhinoGrid Feel/Effort Grid

#gridBox {
  width: 125px;
  height: 103px;
  position:absolute;
}

#redsquare {
  width: 110px;
  height: 88px;
  background: $gridRed;
  position:absolute;
  z-index:-1;
  -moz-border-radius: 5px;
  border-radius: 5px;
  left: 15px;
}

#leftyellowsquare {
  top: 26px;
  width: 20px;
  height: 26px;
  background: $gridYellow;
  position: absolute;
  z-index:0;
}

#leftgreensquare {
  top: 52px;
  width: 44px;
  height: 26px;
  background: $gridGreen;
  position: absolute;
  z-index:0;
  -moz-border-radius: 5px;
  border-bottom-left-radius: 5px;
}

#bottomgreensquare {
  top: 52px;
  left: 10px;
  width: 34px;
  height: 36px;
  background: $gridGreen;
  position: absolute;
  z-index:0;
  -moz-border-radius: 5px;
  border-bottom-left-radius: 5px;
}

#bottomyellowsquare {
  top: 52px;
  left: 44px;
  width: 33px;
  height: 36px;
  background: $gridYellow;
  position: absolute;
  z-index:0;
}

#bottomwhitesquare {
  top: 52px;
  width: 33px;
  height: 36px;
  background: white;
  position: absolute;
  z-index:-1;
}

#gridfore {
  left: 25px;
  margin-bottom: 20px;
  margin-right: 20px;
  width: 100px;
  height: 103px;
  display: inline-block;
}

#effortText {
  position: absolute;
  top: 84px;
  left: 32px;
  font-weight: bold;
}

#feelText {
  writing-mode:tb-rl;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -o-transform: rotate(270deg);
  white-space:nowrap;
  display:block;
  position:absolute;
  bottom:46px;
  width:20px;
  height:20px;
  font-weight:bold;
}

.gridButton {
  background-color: white;
  background-image: none;
  background-image: none;
  background-image: none;
  background-image: none;
  background-image: none;
}

.btn-group#gridfore > .gridCornerButton {
  webkit-border-top-left-radius: 0px;
  -moz-border-radius-topleft: 0px;
  border-top-left-radius: 0px;
  -webkit-border-bottom-left-radius: 0px;
  -moz-border-radius-bottomleft: 0px;
  border-bottom-left-radius: 0px;
  webkit-border-top-right-radius: 0px;
  -moz-border-radius-topright: 0px;
  border-top-right-radius: 0px;
  -webkit-border-bottom-right-radius: 0px;
  -moz-border-radius-bottomright: 0px;
  border-bottom-right-radius: 0px;
}

.gridInner {
  width: 130px;
  height: 122px;
  padding: 0 0 0 0;
}