// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// Welcome StaticPages

$rhinoYellow: #ffc40d;
$rhinoTungsten: #333333;

.bottompad {
	height: 200px;
}

.welcome {
	min-height: 95%;
}

.toppad {
	height: 150px;
}

.miniform {
	margin-bottom: 0px;
}

.fixwidth {
	width: 225px;
}

.minitext {
	font-size: 12px;
}

.bgrbtn {
	width: 55px;
}

.centerdiv {
	position: relative;
	left: 25%;
}

.megadiv {
	height: 30px;
}

.minidiv {
	height: 10px;
}

#rem-me {
	margin-top: 0px;
}

//Signup page

.newpage {
	height: 600px;
	width: 100%;
}

.halfpage {
	height: 200px;
	width: 100%
}

.centered {
	width: 100%;
	text-align: center;
}
//Navbar

#signinform { 
	font-size: 90%; 
}