// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// Welcome StaticPages

$rhinoYellow: #ffc40d;
$rhinoTungsten: #333333;

#subtitle {
	color: $rhinoTungsten;
	margin-left: 15px;
}

#signupbtn {
	float: right;
	display: inline-block;
	font-weight: bold;
	font-size: 25px;
	padding-bottom: 0px;
	padding-top: 0px;
	max-width: 876px;
}

.hero-unit {
	padding-bottom: 30px;
}

#cell-image {
	max-width: 200px;
}

.feature-image {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#week-view {
	max-width: 350px;
}

#rhinogrid {
	max-width: 170px;
	margin-left: 15%;
}

//Navbar

#signinform { 
	font-size: 90%; 
}